.animated-logo-container {
  display: inline-block;
  width: 100%;
  max-width: 841px;
}

.animated-logo {
  width: 100%;
  height: auto;
}

.draw-path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s ease-in-out forwards;
  fill: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

